[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = '*'
ipdb = '*'
ipython = '*'
pylint = '*'
jedi = '*'

[packages]
click = "==7.0"
six = "*"
scipy = "==1.2.0"
sklearn = "*"
tf-nightly = "==1.13.0.dev20181219"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
